<%- include("../partials/header.ejs") %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center">add new comment to <%= restaurant.name %></h1>
		<div style="width: 30%; margin:30px auto;">
			<form action="/restaurants/<%= restaurant._id %>/comments" method="POST">
				<!--text and author will be stored in body wrapped together under comment-->
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" placeholder="text">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="comment[author]" placeholder="author">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">submit</button>
				</div>
			</form>
			<a href="/restaurants">go back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer.ejs") %>